<app-navbar></app-navbar>

<ion-content [fullscreen]="true">
  <main>
      <ion-item>
        <ion-label>Sign Up</ion-label>
      </ion-item>

      <form [formGroup]="signUpForm"
        *ngIf="(voiceItPhrases$ | async) as voiceItPhrases"
        (ngSubmit)="onSubmit(voiceItPhrases[0]?.text)">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Voice Recording</ion-card-title>
            <ion-card-subtitle>
              {{ enrollmentCount }} / 3 enrollments
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content *ngIf="!isRecordingStopped">
            <img src="../../assets/image/music-sound.gif" />
          </ion-card-content>
          <ion-card-content>
            <p class="text-center phrases-section">
              Press the record button &amp; repeat this phrase:
              <ion-text color="danger">
                {{ voiceItPhrases[0]?.text }}
              </ion-text>
            </p>
          </ion-card-content>

          <ion-card-header>
            <ion-button [disabled]="enrollmentCount >= 3"
              (click)="startRecording(voiceItPhrases[0]?.text)">
              <i class="fa fa-microphone"></i>
              Record
            </ion-button>
          </ion-card-header>
        </ion-card>

        <ion-item>
          <ion-label>Username</ion-label>
          <ion-input [formControlName]="'Username'"></ion-input>
        </ion-item>
        <p class="error-group"
          *ngIf="signUpForm.get('Username').touched && signUpForm.get('Username').errors">
          <span *ngIf="signUpForm.get('Username').errors['email']">
            This field must be an email
          </span>
          <span *ngIf="signUpForm.get('Username').errors['required']">
            This field is required
          </span>
        </p>

        <br />
        <ion-button
          [disabled]="signUpForm.invalid || !wavFile"
          type="submit"
          expand="full"
          color="primary"
          type="submit">
          Submit
        </ion-button>
      </form>
      <p class="text-right">
        Or <a [routerLink]="['/login']">Login</a>
      </p>
  </main>
</ion-content>
